<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by John Daise. It uses data fetched from Mapbox.com and Darksky.net.</p>
            <img class="portrait" src="/img/jjgp3.jpg">
        </div>
        {{>footer}}
    </body>
</html>